Package: com.nguyentronghieu.confirmrotate
Name: ConfirmRotate (Bản gốc iOS 16 RootHide)
Depends: mobilesubstrate
Replaces: com.cardboardface.confirmrotate
Conflicts: com.cardboardface.confirmrotate
Provides: com.cardboardface.confirmrotate
Version: 1.2.7-roothide
Architecture: iphoneos-arm64e
Description: ConfirmRotate chuẩn gốc CardboardFace sửa hoàn chỉnh cho iOS 16 RootHide (iPhone 13 Pro Max). Nút con nhộng Rotate? ở cạnh phải, nhận diện xoay phần cứng CoreMotion.
Maintainer: Nguyễn Trọng Hiếu <traitimlolam@gmail.com>
Author: CardboardFace & Nguyễn Trọng Hiếu
Section: Tweaks
