Package: com.nguyentronghieu.confirmrotate
Name: ConfirmRotate VN (iPhone 13 Pro Max)
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm64e
Description: Tinh chỉnh xác nhận xoay màn hình thông minh phong cách Android. Đã sửa triệt để lỗi Safe Mode trên iOS 16 RootHide.
Maintainer: Nguyễn Trọng Hiếu <traitimlolam@gmail.com>
Author: Nguyễn Trọng Hiếu
Section: Tweaks
